/Release/

/PreInstaller/
/IntuSoftInstallerScripts/PreInstallerSetup.exe
/IntuSoftInstallerScripts/IntuSoftCompleteInstallerSetup.exe
/IntuSoftInstallerScripts/IntuSoftSetup.exe
/ReportTemplates/Annotation/Normal/Annotation_LsA4.xml
/ReportTemplates/Annotation/Normal/Annotation_LsA5.xml
/ReportTemplates/CDR/Normal/CDR_lsA4.xml
/ReportTemplates/CDR/Normal/CDR_lsA5.xml
/ReportTemplates/Landscape/DR/Landscape_DR_A4.xml
/ReportTemplates/Landscape/DR/Landscape_DR_A4_page1.xml
/ReportTemplates/Landscape/DR/Landscape_DR_A5.xml
/ReportTemplates/Landscape/Normal/Landscape_A4.xml
/ReportTemplates/Landscape/Normal/Landscape_A42.xml
/ReportTemplates/Landscape/Normal/Landscape_A4OLD.xml
/ReportTemplates/Landscape/Normal/Landscape_A5.xml
/ReportTemplates/Portrait/DR/Portrait_DR_A4.xml
/ReportTemplates/Portrait/DR/Portrait_DR_A4_page1.xml
/ReportTemplates/Portrait/DR/Portrait_DR_A4_page2.xml
/ReportTemplates/Portrait/DR/Portrait_DR_A4Alternate1.xml
/ReportTemplates/Portrait/DR/Portrait_DR_A5.xml
/ReportTemplates/Portrait/Normal/Portrait_A4.xml
/ReportTemplates/Portrait/Normal/Portrait_A4f.xml
/ReportTemplates/Portrait/Normal/Portrait_A4Normal.xml
/ReportTemplates/Portrait/Normal/Portrait_A5.xml
